<template>
  <div class="user-profile" v-if="user.name">
    <label>Username: </label>
    <span class="username">{{ user.name }}</span>
  </div>
</template>

<script lang="ts">
import { Component, InjectReactive, Vue } from "vue-property-decorator";

export interface UserProfileModel {
  name: string;
}

@Component
export default class UserProfile extends Vue {
  @InjectReactive("user")
  user!: UserProfileModel;
}
</script>
