<template>
  <div>
    <slot v-bind:user="user"></slot>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue, Watch } from "vue-property-decorator";
import { gql } from "apollo-boost";
import { UserProfileModel } from "@/components/UserProfile.vue";

@Component
export default class UserProvider extends Vue {
  @Prop()
  id!: number;

  user: UserProfileModel = {
    name: "",
  };

  @Watch("id")
  onChanged() {
    this.loadUser();
  }

  created() {
    this.loadUser();
  }

  async loadUser() {
    const { data } = await this.$apollo.query({
      query: gql`
        query FetchUser($id: ID!) {
          user(id: $id) {
            name
          }
        }
      `,
      variables: {
        id: this.id,
      },
      fetchPolicy: "cache-first",
    });
    this.user = data.user;
    console.log(this.user);
  }
}
</script>
