<template>
  <div id="app">
    <!-- Reactive provide approach -->
    <UserProvider :id="2">
      <UserProfile />
      <UserProvider :id="4">
        <UserProfile />
        <UserProvider :id="6">
          <UserProfile />
        </UserProvider>
      </UserProvider>
    </UserProvider>
    <!-- Vue slot approach -->
    <UserProviderSlot :id="4">
      <template v-slot="{ user }">
        <UserProfileProp :user="user" />
      </template>
    </UserProviderSlot>
  </div>
</template>

<script>
import Vue from "vue";
import { Component } from "vue-property-decorator";
import UserProvider from "@/components/UserProvider";
import UserProfile from "@/components/UserProfile";
import UserProviderSlot from "@/components/UserProviderSlot";
import UserProfileProp from "@/components/UserProfileProp";
@Component({
  components: { UserProfileProp, UserProviderSlot, UserProfile, UserProvider },
})
export default class App extends Vue {}
</script>
